<table class="table" border="4.6">
  <thead>
    <tr>
      <th>Name</th>
      <th>Image Path</th>
      <th>Price</th>
      <th>Units</th>
      <th>Active Status</th>
      <th>Product Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tempProducts of products">
      
      
      <td>{{ tempProducts.name }}</td>
      <td><img src="{{ tempProducts.imageUrl }}" alt="" height="50" /></td>
      <td>{{ tempProducts.unitPrice | currency : "INR" : "symbol" }}</td>
      <td>{{ tempProducts.unitsInStock }}</td>
      <td>{{ tempProducts.active }}</td>
      <td>{{ tempProducts.description }}</td>
    </tr>
  </tbody>
</table>
